<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Info Blog</title>
  <link rel="stylesheet" href="css/main.css" />
  <link rel="icon" type="image/png" href="img/businessman-120-28949.png">
  <!-- moment for time format -->
  <!-- <script src="js/momentjs.js"></script> -->

</head>

<body>
  <nav class="info-nav">
    <div class="info-profile-div">
      <img src="https://randomuser.me/portraits/men/17.jpg" alt="info-img-profile" class="info-img-profile" />
    </div>
    <ul class="profile-ul">
      <li class="profile-li"><a href="/">Home</a></li>
      <li class="profile-li"><a href="#">Contact</a></li>
      <li class="profile-li"><a href="#">About</a></li>
      <li class="profile-li"><a href="#">Help</a></li>
    </ul>
  </nav>
  <img class="img-show" src="img/hamburger-menu.svg" alt="img-show" />